exportPattern("^[[:alpha:]]+")
importFrom(dplyr,"%>%")
importFrom("grDevices", "dev.copy", "dev.off", "tiff")
importFrom("graphics", "grid")
importFrom("stats", "filter", "median", "relevel")
    importFrom("utils", "write.csv")
importFrom(Rdpack,reprompt)
export(check_q)
export(find_cnhplus)
export(kappa)
export(make_grid)
export(make_grid_plus)
export(plot_profile)
export(plot_survival)
export(r2q)
export(topk)

